@model ProyectoPizzas.Models.Pizza

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ardoa</h4>
    <hr />
    <!--<dl class="dl-horizontal">
        <dt>
            <!--aquí una arroba Html.DisplayNameFor(model => model.Izena)
    </dt>
    <dd>
        <!--aquí una arroba Html.DisplayFor(model => model.Izena)
    </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>-->
</div>
