@model ProyectoPizzas.Models.Pizza

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ardoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <!--
    <dt>
        <!--aquí una arroba Html.DisplayNameFor(model => model.Izena)
        </dt>
        <dd>
            <!--aquí una arroba Html.DisplayFor(model => model.Izena)
        </dd>
        -->
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="<!--aquí una arroba-->Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
